body{
    background-image: url("images/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.webp");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   
    font-family: 'Poppins', sans-serif;
}
p{
    margin-top: 10%;
}
#text{
  padding: 50px;
}
textarea{
    width: 100%;
    border: none;
    outline: none;
    resize: none !important;
    border-radius: 12px;
}
.post-heading{
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.posting{
    border-radius: 10px;
    background-color: #F6F6F6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    padding: 20px;
}

#posting1{
    font-weight: bold;
}

.data-div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 15%;
    border: 3px solid white;
    border-radius: 20px;
    padding: 3px;
}
#post-btn{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 12px;
    padding: 5px;
    padding-left: 45%;
    padding-right: 45%;
    display: block;
    margin: 0 auto;
    background-color: #1b74e4;
    color: white;
    font-weight: bold;
    
}
textarea::placeholder{
    font-family: 'Poppins', sans-serif;
}
hr{
    border-top: 1px solid ;
}
#post-btn:hover{
    font-family: 'Poppins', sans-serif;
    background-color: #0e5bb9;
    
    
    font-weight: bold;
}
#user-data{
    margin-top: 10%;
    padding-top: -10px;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #F6F6F6 !important;
    /* position: fixed !important;
    top: 0;
    width: 100%; */
}
.posting{
   
    margin: 0 auto;
    
    margin-top: 5%;
}
.button1{
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 15px;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    border: 3px solid black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}
.posted-box{
    width: 100%;
    
    border-radius: 5px;
    margin-top: 5%;

}
.total-posts{
    width: 40%;
margin: 0 auto;
border: 1px solid black;

    background-color: #F6F6F6;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    padding: 20px;
    margin-top: 5%;
   
}
.username{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
   

}
.offcanvas{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#offcanvasRightLabel{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.post{
    text-align: center;
    font-size: 20px;
}
.imag_wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

.date{
    font-family: 'Poppins', sans-serif;
   color: gray;
   width: 70%;
  
}

sub{
    font-family: 'Poppins', sans-serif;
   color: gray;
   left:4.5em;
   top: -1.8em;

    
}



@media only screen and (max-width: 1000px) {
    .posting,.total-posts {
      width: 60%;
    }
  }
  @media only screen and (max-width: 650px) {
    .posting,.total-posts {
      width: 70%;
    }
  }
  @media only screen and (max-width: 500px) {
    .posting,.total-posts {
      width: 80%;
    }
  }
  @media only screen and (max-width: 400px) {
    .posting,.total-posts {
      width: 90%;
    }
  }
  #friends{
    color: black;
    font-size: 25px;
    margin-top: 5%;
  }
  .modal-body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }



@media screen and (max-width:415px)  {
    .navbar>.container-fluid{
        flex-wrap:nowrap  !important;
    }
    
}
.post1{
    word-wrap: break-word;
    
}